<div id="user_details">
	<h3>User Details</h3>
	<div class="item">
		<%= f.label :email %>
		<%= f.text_field :email, :class => "required" %><br />
	</div>
	<div class="item">
		<%= f.label :phone %>
		<%= f.text_field :phone, :class => "required" %>
	</div>
</div>
